* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Classic scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f1117;
}

::-webkit-scrollbar-thumb {
  background: #2a3142;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a4153;
}